<div class="card">
  <div class="image">
    <img src="https://a10.gaanacdn.com/images/albums/16/3812116/crop_80x80_3812116.jpg" alt="">
  </div>
  <div class="content">
    <div class="importantDetails">
      <div class="title">
        The Crown
      </div>
      <div class="wrap-rating">
        <app-rating></app-rating>
      </div>
      <div class="description">
        dasdasdawdasasddasdasdasdsad
      </div>
    </div>
    <div class="anotherDetails">
      <div class="language">
        Engilsh
      </div>
      <div class="genre">
        Drama|Action
      </div>
      <div class="date">
        10/02/2020
      </div>
    </div>
  </div>
</div>
